@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

* {
    font-family: Roboto, sans-serif;
}

.heroMain {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.headerLogo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.heroSec {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    font-weight: 700;
    font-size: 18px;
    white-space: nowrap;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.headerBackground {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.header, .section1, .section2, .section3, .section4, .footer {
    flex: 1;
    max-width: 960px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 64px;
}

.headerLinks {
    display: flex;
    gap: 24px;
}

.section1Background {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.section1 {
    display: flex;
    padding: 16px;
    gap: 32px;
    justify-content: center;
    margin-bottom: 128px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.hero {
    max-width: 400px;
}

.imgContainer {
    height: 240px;
    width: 450px;
    flex-shrink: 0;
    background-color: grey;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2Background {
    display: flex;
    justify-content: center;
}

.section2 {
    margin-bottom: 128px;
    box-sizing: border-box;
}

.section2Title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 48px;
}

.boxDescription {
    color: #1F2937;
    text-align: center;
    max-width: 180px;
}

.box {
    border: 4px solid #3882F6;
    border-radius: 16px;
    height: 180px;
    width: 180px;
}

.section2Content {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 36px;
}

.section2Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.section3Background {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
}

.section3 {
    padding: 16px;
    margin: 128px 0;
    box-sizing: border-box;
}

.section3Text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 16px;
}

.section3Signature {
    font-size: 24px;
    font-weight: 700;
    color:#1F2937;
    text-align: right;
    padding-right: 64px;
}

.section4Background {
    display: flex;
    justify-content: center;
}

.section4 {
    background-color: #3882F6;
    border-radius: 8px;
    margin: 96px 0;
    padding: 48px 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 64px;
}

.ctaTitle {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.ctaText {
    font-size: 18px;
    font-weight: 300;
    color: #F9FAF8;
}

.ctaButton {
    border: 2px solid #F9FAF8;
}

.footerBackground {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}

.footer {
    color: #F9FAF8;
    font-size: 18px;
    margin: 48px 0;
    padding: 16px;
    text-align: center;
}